<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="UTF-8">
    <title>숭실대학교 동아리 플랫폼</title>
    <link rel="stylesheet" href="/styles/etcclub.css">
    <!-- 공통 헤더 CSS -->
    <link rel="stylesheet" href="/styles/header.css" />
    <!-- 헤더 js -->
    <script src="/layouts/header.js" defer></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css"
        integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>

<body>
    <!-- 필터 -->
    
    <!-- 글쓰기 버튼 -->
    <a href="/enter?selected=etcclub" class="btn"><i class="fa-solid fa-pen-to-square"></i> 글쓰기</a>
    
    <!-- 메인 소모임 목록 -->
    <main>
        <!-- 모임 카드 -->
        <div class="meeting-card">
            <!-- 이미지 -->
            <img class="meeting-image" src="../assets/gameworks.png" alt="이미지">
            <!-- 모임 정보 -->
            <div class="meeting-info">
                <h2 class="meeting-title">모임 이름</h2>
                <p class="meeting-description">모임 설명</p>
                <!-- 해시태그들 -->
                <div class="hashtags">
                    <span class="hashtag">#디자인</span>
                    <span class="hashtag">#화목</span>
                    <!-- 추가 해시태그 -->
                </div>
            </div>
        </div>

        <!-- 추가 카드... -->
    </main>

</body>

</html>