<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8" />
  <title>메인 페이지</title>
  <!-- 공통 헤더 CSS -->
  <link rel="stylesheet" href="/styles/header.css" />
  <!-- 메인 페이지 전용 CSS -->
  <link rel="stylesheet" href="/styles/notifications.css" />
  <!-- 헤더 js -->
  <script src="/layouts/header.js" defer></script>
</head>
<body>
    <h1>알림창 페이지 구현</h1>
</body>
</html>
